"#8B0E3A"
#E79C29


/* Styling icon next to headings */
a.anchorjs-link::after {
  color: #8B0E3A;
}

/* Styling links - applies to TOC */
a {
  color: #8B0E3A !important; /* Default color of links in document */
}

a:hover {
  color: #E79C29 !important; /* Color of links in document when hovered over */
}

/* Making numbering in the document bold */
::marker {
  font-weight: bold;
}

/* Main Styling of body */
html, body {
  font-family: 'Open Sans';
  text-align: justify;
  line-height: 1.5em;
  background-color: #fff;
}

/* Headings in the document */
h1 {
  font-weight: 900;
  font-size: 200%;
  text-align: center;
  color: #8B0E3A;
}

h2, h3, h4 {
  color: #8B0E3A;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: left;
}

/* Colour of the code */
code {
  color: #E79C29;
}

li::marker {
  color: #E79C29;
}

/* Add in the 71point4 logo */
.quarto-title-block .quarto-title-banner {
  background-image: url('docs/logo71p4.png');
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

/* Hide the default table of contents */
#TOC {
  padding-right: 20px;  /* Add padding to ensure the image is not cut off */
  text-align: left;
  font-family: 'Open Sans';
}

#toc-title {
  color: #333;
  font-size: 23px;
  font-weight: bold;
}

/* Display an image in the TOC area */
#TOC:before {
  content: url('docs/logo71p4.png');
  display: block;
  width: 30px; /* Corrected property syntax */
  heiht: auto;
}

/* TOC links default style */
#TOC a {
  color: #8B0E3A; /* Default color of TOC items */
  text-decoration: none; /* Remove underline from links */
}

/* TOC links hover style */
#TOC a:hover {
  color: #E79C29; /* Custom color for TOC items when hovered over */
}

/* Container for the image columns */
.row {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for responsive design */
  gap: 10px; /* Add space between columns */
  justify-content: space-between; /* Distribute space evenly */
}

/* Individual column styling */
.column {
  flex: 0 1 calc(33.33% - 10px); /* Ensure columns are one-third width with gap consideration */
  box-sizing: border-box; /* Ensure padding is included in width */
  padding: 5px;
}

/* Image styling */
.myimg {
  width: 100%;
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Ensure images cover the area without distortion */
}

.nav-link{
  color: #8B0E3A;
}

.nav-link:hover{
  color: #E79C29;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid #E79C29;
    color: #E79C29 !important;
}

.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: #E79C29 !important;
}


.pull-left {
  float: left;
  top: 50%;
  width: 45%;
  margin: auto;
}

.pull-right {
  float: right;
  top: 50%;
  width: 50%;
  margin: auto;
}
